@model LanguageInformant.WebUI.Models.MatchingAnswers

@if (Model.IsSelected && Model.IsAnswer)
{  
    <div style="margin:0px; background-color:lightgreen">
    @Html.RadioButton("Images[" + Model.Image.OrderNumber +"].Choices[0].Id",Model.Id)
    Correct!
    </div>
} 
else 
{  
    @Html.RadioButton("Images[" + Model.Image.OrderNumber +"].Choices[0].Id",Model.Id)
    <br />
}
   