@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information about how to use the site.</p>


<p>For addition questions, please use the @Html.ActionLink("CONTACT FORM", "Contact", "Home").
