@{
    ViewBag.Title = "About Language Informant";
}
<h2>@ViewBag.Title</h2>


<p>Use this area to provide additional information about how to use the site.</p>


<p>For addition questions, please feel free to @Html.ActionLink("Contact us", "Contact", "Home").
