@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<table>
  
    <tr>
        <th><strong>By Mail</strong></th>
        <th><strong>By Email</strong></th>
        <th><strong>By Phone</strong></th>
    </tr>
    <tr>
        <td>
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />                
            </address>
        </td>
        <td>
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </td>   
        <td>
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </td>
    </tr>
    
    
</table>