

@{
    ViewBag.Title = "Courses";
    
}
<h2 style="margin-left:25px;">@ViewBag.Title</h2>
<div id="wrapper" style="width:100%; padding:10px;">
    <div id="container1" style="border:dashed medium; width:250px; height:395px; float:left; margin-left:5px; padding:5px;">
        
        <p>Lessons users can access <br />
            If user does not have access to lesson then it becomes hidden until purchased. <br />
            <br />
            Vocabulary Lessons: Drop down list to reveal Comprehension Link and Matching Link.
            <br />
            More lessons can be added at a later time.
        </p>

    </div>
    <div id="container2" style="border:dashed medium; width:55%; height:176px; float:left; margin-left:5px; padding:10px; ">
        <p>Information will become available here as the user hovers over a selection
            <br />
            in the drop down list on the left. Description of the lesson. 
        </p>
    </div>
    <div id="synonymBox" style="border:dashed medium; width:55%; height:176px; float:left; margin-left:5px; margin-top:5px; padding:10px; "> 
        <p>Image will change here depending on the last drop down list item hovered over</p>
    </div>
    

</div>
