

@{
    ViewBag.Title = "Courses";
    
}

<div id="wrapper" style="width:100%; padding:10px;">
    <div id="container1" style="border:double medium; width:250px; height:395px; float:left; margin-left:5px; padding:5px;">
        
        <ul id="vocab" style="display:inline-block">Vocabulary Lessons
        <li id="comp">@Html.ActionLink("Comprehension", "Comprehension", "Home")</li>
        <li id="match">@Html.ActionLink("Matching", "Matching", "Home")</li>
        </ul>
        <ul>Sentence Lessons

        </ul>
        <ul>Scene Lessons

        </ul>

    </div>
    <div id="container2" style="border:double medium; width:55%; height:176px; float:left; margin-left:5px; padding:10px; ">
        <p>Information will become available here as the user hovers over a selection
            <br />
            in the list on the left. Description of the lesson. 
        </p>
    </div>
    <div id="synonymBox" style="border:double medium; width:55%; height:176px; float:left; margin-left:5px; margin-top:5px; padding:10px; "> 
        <p>Image will change here depending on the last drop down list item hovered over</p>
    </div>
    

</div>
