body {
    font-family: 'Segoe UI';     
    background-color: #EAEAEA; 
}

#wrapper {
    width: 910px;
    margin: 0 auto;
    height: auto;
}

#headingContainer {
    width: 100%;
}

#headingBanner {
    float: left;
    height: 100px;
}

#logoBox {
    float: right;
    width: 100px;
    height: 100px;
}

#breadcrumbNav {
    padding-top: 5px;
    padding-left: 5px;
    font-size: large;
    background-color: lightgray;
}

#mainContent {
    background-color: slategray;
    width: inherit;
    height: inherit;
}
#contentBox {
    float: right;
    width: 730px;
    min-height: 400px;
    padding: 10px;
}

#userCourseBox {
    float: left;
    width: 140px;
    background-color: #E7DED4;
    padding: 10px;
    min-height: 500px;
    font-size: smaller;
}

#footer {
    float: left;
    width: 910px;
    background-color: #E7DED4;
}

.loginButton {
    height: 25px;
    width: 140px;
    text-align: center;
    background: lightgray;
    border: 2px solid rgba(33, 68, 72, 0.59);
}

    .loginButton a {
    text-decoration: none;
    text-align: center;
    font-size: medium;
    text-align: center;
    }

.navButton {
    height: 50px;
    width: 200px;
    font-size: larger;
    text-align: center;
    background: lightgray;
    border: 2px solid rgba(33, 68, 72, 0.59);
}

    .navButton a {
    text-decoration: none;
    text-align: center;
    font-size: medium;
    text-align: center;
    }

.mgmtButton {
    height: 50%;
    padding: 5px;
    font-size: small;
    background: lightgray;
    border: 2px solid rgba(33, 68, 72, 0.59);
    text-align: center;
}

    .mgmtButton a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
     }

.alternate {
    background-color: lightgray;
}

.pad {
    display: block; 
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}

.front {
    font-weight: bold; 
    border-radius:8px 8px; 
    border: ridge thick ButtonShadow; 
    background-color:crimson;   
}

.back {
    border:inset thick crimson; 
    border-radius:8px 8px; 
    background-color:crimson;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

    .back a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

.padback {
padding-top: 40px;
}

.editMultiline {
    width: 300px;
    height: 60px;
}

#panelRow2 {
    margin-top: 15px;
}

.leftPanel {
    float: left;
}

.rightPanel {
    float: left;
    margin-left: 20px;
}

.details {
    height: 50px;
}

#Layout {
    border: none;
}


.player {
    width: 95px;
    height: 45px;
}

#Main {
    border: 2px solid gray;
}

#Nav {
    border: 2px solid gray;
}

/*.button {
    height: 40px;
    text-align: center;
    background-color: gray;
    display: grid;
    width: 150px;
}*/


div#NavIndex A {
    font-family: 'Segoe UI';
    display: block;
    padding: .6em;
    color: white;
    border-bottom: 1px solid silver;
}

    div#NavIndex A.selected {
        background-color: gray;
        color: black;
    }

    div#NavIndex A.hover {
        background-color: silver;
    }

    div#NavIndex A.selected:hover {
        background-color: gray;
    }

table#Menu {
}

#NavItem {
    height: 40px;
    text-align: center;
    background-color: dimgray;
}

    #NavItem ul {
        list-style: none;
    }

#NavItem td:hover {
        background-color: silver;
    }

#NavItem A {
        color: white;
        text-decoration: none;
        text-align: center;
    }

#NavItem A.selected {
        background-color: gray;
        color: black;
    }

#NavItem A:hover {
    }

#NavItem A.selected:hover {
        background-color: gray;
    }

#Logo {
    float:right;
}

#Main {

}

/*Flip panel styles*/
.panel {
    margin: 0 auto;
    width: 150px;
    height: 125px; 
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel .back {
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
 
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

#WordMeanings {
    width: 200px;
    height: 200px;
    margin: 30px;
}

#MeaningList {
    width: 200px;
    height: 200px;
    margin: 30px;
}

#name {
    width: 200px;
    height: 100px;
}

#VocabularyWords {
    width: 200px;
    height: 200px;
    margin: 30px;
}

#WordList {
    width: 200px;
    height: 200px;
    margin: 30px;
}

#breadcrumbNav {
    padding-bottom: 20px;
    align-items: center;
}

.button {
     
    /*Step 2: Basic Button Styles*/
    display: block;
    height: 30px;
    text-decoration: none;
    background: lightgray;
    border: 2px solid rgba(33, 68, 72, 0.59);
    align-self: center;
     
    /*Step 3: Text Styles*/
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    text-decoration: none;
    font: small "Segoe UI";
    align-content: center;
     
    /*Step 4: Fancy CSS3 Styles*/
    /*background: -webkit-linear-gradient(top, #34696f, #2f5f63);
    background: -moz-linear-gradient(top, #34696f, #2f5f63);
    background: -o-linear-gradient(top, #34696f, #2f5f63);
    background: -ms-linear-gradient(top, #34696f, #2f5f63);
    background: linear-gradient(top, #34696f, #2f5f63);*/
     
    /*-webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;*/
     
    /*-webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;
     
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);*/
     
}
 
/*Step 3: Link Styles*/
a.button2 {
    text-decoration: none;
}
 
/*Step 5: Hover Styles*/

.button a {
    text-decoration: none;
}

a.button:hover {
    background: #3d7a80;
    /*background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);*/
}