@model LanguageInformant.Domain.Entities.Lesson

@{
    ViewBag.Title = "Lesson Index";
}
<h2>Manage Lessons</h2>
<table align="center">
    <tr>
        <td class="navButton">
            @Html.ActionLink("Add Lesson", "Create")
        </td>
    </tr>
    <tr>
        <td class="navButton">
            @Html.ActionLink("List Lessons", "List")
        </td>
    </tr>
</table>