@model LanguageInformant.Domain.Entities.Vocabulary

@{
    ViewBag.Title = "Manage Vocabularies";
}

<h2>Manage Vocabularies</h2>
<table align="center">
    <tr>
        <td class="navButton">
            @Html.ActionLink("Create Vocabulary", "Create")
        </td>
    </tr>
    <tr>
        <td class="navButton">
            @Html.ActionLink("List Vocabularies", "List")
        </td>
    </tr>
</table>