@model LanguageInformant.Domain.Entities.Vocabulary

@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <td class="button">
            @Html.ActionLink("Create Vocabulary", "Create")
        </td>
    </tr>
    <tr>
        <td class="button">
            @Html.ActionLink("List Vocabularies", "List")
        </td>
    </tr>
</table>