@model LanguageInformant.Domain.Entities.Member

@{
    ViewBag.Title = "Member Index";
}
<h2>Manage Lessons</h2>
<table align="center">
    <tr>
        <td class="navButton">
            @Html.ActionLink("Add Member", "Create")
        </td>
    </tr>
    <tr>
        <td class="navButton">
            @Html.ActionLink("List Members", "List")
        </td>
    </tr>
</table>