@model LanguageInformant.Domain.Entities.Member

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Member</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
