@model LanguageInformant.Domain.Entities.Word

@{
    ViewBag.Title = "Index";
}

<h2>Manage Words</h2>
<table align="center">
    <tr>
        <td class="navButton">
            @Html.ActionLink("Add Word", "Create")
        </td>
    </tr>
    <tr>
        <td class="navButton">
            @Html.ActionLink("List Words", "List")
        </td>
    </tr>
    <tr>
        <td class="navButton">
            @Html.ActionLink("Dictionary", "Dictionary", "Home")
        </td>
    </tr>
</table>

