@model LanguageInformant.Domain.Entities.Word

@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <td class="button">
            @Html.ActionLink("Add Word", "Create")
        </td>
    </tr>
    <tr>
        <td class="button">
            @Html.ActionLink("List Words", "List")
        </td>
    </tr>
    <tr>
        <td class="button">
            @Html.ActionLink("Dictionary", "Dictionary")
        </td>
    </tr>
</table>

