@{
    ViewBag.Title = "Admin Portal";
}

<h2>Admin Portal</h2>
<table align="center">
    <tr>
        <td class="navButton">
            @Html.ActionLink("Edit Words", "Index", "Word")
        </td>
    </tr>
    <tr>
        <td class="navButton">
            @Html.ActionLink("Edit Meanings", "Index", "Meaning")
        </td>
    </tr>
    <tr>
        <td class="navButton">
            @Html.ActionLink("Edit Lessons", "Index", "Lesson")
        </td>
    </tr>
    <tr>
        <td class="navButton">
            @Html.ActionLink("Edit Vocabularies", "Index", "Vocabulary")
        </td>
    </tr>
</table>

