@model LanguageInformant.Domain.Entities.Meaning

@{
    ViewBag.Title = "Manage Meanings";
}

<h2>Manage Meanings</h2>
<table align="center">
    <tr>
        <td class="navButton">
            @Html.ActionLink("Add Meaning", "Create")
        </td>
    </tr>
    <tr>
        <td class="navButton">
            @Html.ActionLink("List Meanings", "List")
        </td>
    </tr>
</table>
